.App {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .sidebar {
    width: 20%;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .icon {
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .icon.active {
    background-color: #ad1616;
  }
  
  .main-content {
    background-image: url("cricket.jpg");
    
    flex: 1;
    padding: 20px;
    height: 100%;
    
  }
  
  .schedule {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .match {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
  }
  
  