/* App.css */
.app {
  display: flex;
  align-items: stretch;
  font-family: Arial, sans-serif;
}

.sidebar {
  flex: 1;
  background-color: #f1f1f1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sport-icon {
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s;
}

.sport-icon:hover {
  background-color: #e0e0e0;
}

.match-display {
  flex: 3;
  padding: 20px;
  background-image: url('sports.avif');

}

.match {
  background-image: url('cricket.jpg'); 
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .match-display {
    margin-top: 20px;
  }
}
